body {
  margin: 0;
  padding: 0;
  color: #2a3842;
  font-size: 16px;
  font-weight: 700;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  background-image: url(gray.jpg);
  background-repeat: repeat; 
  background-size: cover;
  background-position: center;
  height: 100vh;
  backdrop-filter: blur(px) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 1rem;
}

input[type=file] {
  width: 100%;
}

